tilgungsplan/.classpath
tilgungsplan/.project
tilgungsplan/.settings/org.eclipse.jdt.core.prefs
tilgungsplan/.settings/org.eclipse.m2e.core.prefs
tilgungsplan/.settings/org.eclipse.core.resources.prefs
